.card{
    border: 1px solid black;
    width: 600px;
    height: 320px;
    padding: 20px;
}
.card-container{
    display: flex;
    justify-content: space-between;
}
.card-image{
    width: 150px;
    height: 150px;
}
h2{
    display: flex;
    align-items: center;
}
h3{
    margin-bottom: 0px;
}
h4{
    margin-top: 0px;
}
.card-section{
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
    padding: 0px 20px;
}
.card-section-name{
    text-align: center;
}
.footer{
    text-align: end;
}